<% layout('boilerplate') -%>

<style>

</style>

<div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="10000">
      <img src="https://assets.aboutamazon.com/dims4/default/2622eec/2147483647/strip/true/crop/1279x720+0+0/resize/1240x698!/quality/90/?url=https%3A%2F%2Famazon-blogs-brightspot.s3.amazonaws.com%2Fe9%2F9f%2F7bf86c7a4dd9ba2211cccbbd9789%2Fabout-agif-blog-lead-banner-1.jpg" class="d-block w-100" alt="Slide 1">
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <img src="https://img1.paisawapas.com/images/2024/09/18121131/amazon-wishlist-PaisaWapas-App.jpg" class="d-block w-100" alt="Slide 2">
    </div>
    <div class="carousel-item">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ7eOKEgUYSRiH7nV4aopCHmMn_jW4Rz71FeA&s" class="d-block w-100" alt="Slide 3">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<div class="scroll">
    <form action="/shop" method="get">
      <button type="submit" class="btn btn-danger">SHOP NOW</button>
    </form>
</div>
